{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to AutoParts Ecommerce</p>
        </div>
    </div>
</header>

<div class="container">
   <div class="row">
      <center>
         <div class="col-8">
            <p align="justify">
            <br/>
            <br/>    
            <b>À Propos de Nous</b> <br/>
            Nous sommes trois étudiants de troisième année en ingénierie informatique passionnés par la technologie et l'innovation. Forts de nos compétences variées et de notre engagement, nous nous efforçons de repousser les limites du possible dans le domaine informatique.
            <br/><br/>
            <b>Nos Parcours</b><br/>
            Chacun de nous apporte une expertise unique et complémentaire :
            <br/>
            <b>Haitam Bainy</b> : Spécialiste en développement web et applications mobiles, Haitam excelle dans la création de solutions intuitives et performantes, adaptées aux besoins des utilisateurs.<br/>
            <b>Hassan Mechkour</b>: Avec une forte compétence en intelligence artificielle et en apprentissage automatique, Hassan se consacre à développer des algorithmes innovants qui optimisent les processus et améliorent les prises de décision.<br/>
            <b>Ismail Moustatraf </b> : Expert en cybersécurité et en réseaux, Ismail se concentre sur la protection des données et l'intégrité des systèmes, garantissant des environnements numériques sûrs et fiables.<br/>
            <br/>
            <b>Notre Mission</b><br/>
            Nous sommes motivés par la volonté de transformer des idées novatrices en réalités tangibles. En collaborant sur divers projets académiques et personnels, nous visons à apporter des solutions technologiques qui répondent aux défis actuels et futurs de la société.
            <br/><br/>
            <b>Nos Valeurs</b><br/>
            
            Innovation : Nous croyons en l'importance de repousser les frontières technologiques et de rester à la pointe des avancées du secteur.<br/>
            Collaboration : Travailler ensemble et avec d'autres professionnels nous permet de partager des idées et de créer des solutions plus robustes et créatives.<br/>
            Intégrité : La transparence et l'éthique sont au cœur de notre approche, tant dans notre travail que dans nos interactions avec les autres.<br/><br/>
            <b>Nos Projets</b><br/>
            Nous avons travaillé sur divers projets passionnants allant de la conception d'applications mobiles à la création de systèmes de sécurité robustes pour des réseaux informatiques. Notre portfolio reflète notre engagement à utiliser nos compétences pour des initiatives à impact significatif.<br/>
            
            Ensemble, nous aspirons à continuer notre apprentissage et à contribuer de manière significative au monde de l'ingénierie informatique. N'hésitez pas à nous contacter pour toute collaboration ou simplement pour échanger sur les dernières tendances technologiques.
            <br/><br/>
            </p>
         </div>
      </center>
   </div> 
</div>
{% endblock %}